<app-banner
  src="assets/imagens/banner-homepage.png"
  alt="Banner da aplicação Jornada"/>


<app-container>
  <h2>Promoções</h2>
  <app-form-busca></app-form-busca>
  <div class="card-wrapper">

    @for (promocao of promocoesList; track promocao) {
      <app-card-busca [promocao]="promocao" />
    }

  </div>

  <h2>Depoimentos</h2>
  <div class="card-wrapper">
    <app-card-depoimentos></app-card-depoimentos>
    <app-card-depoimentos></app-card-depoimentos>
    <app-card-depoimentos></app-card-depoimentos>
  </div>
</app-container>
